.navbar{
    background-color: #343a40;
}
.navbar .navbar-brand{
    color: #fff;
}
.navbar .nav-link{
    color: #fff !important;
    text-decoration: none !important;
    margin-right: 2vh;

}

@media(max-width:576){
    .navbar .nav-link{
        margin-right: 0;
    }
}